# Database connection (Application)
DB_URL=jdbc:mariadb://localhost:3310/librarydb
DB_USER=root
DB_PASS=root

# Database configuration (Docker/MariaDB)
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=librarydb
MYSQL_PORT=3310